{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>سلطون</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_css %}
        <link href="https://cdn.rawgit.com/rastikerdar/samim-font/v2.0.1/dist/font-face.css" rel="stylesheet"
              type="text/css"/>
        <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'website/lib/semantic/dist/semantic.rtl.min.css' %}">

        {% block page_head_css %}{% endblock %}
    {% endblock %}
</head>
<body>
<header id="header" class="container">
    <div class="not-mobile" id="not-mobile-header">
        <ul id="first-menu" class="menu">
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'soltoonwebsite_game' %}">بازی</a></li>
                {% else %}
                    <a href="{% url 'soltoonwebsite_login' %}">ورود</a></li>
                {% endif %}
            <li><a href="#" class="disabled">مستندات</a></li>
            <li><a href="#" class="disabled">وبلاگ</a></li>
        </ul>
        <div id="logo">
            <a href="{% url 'soltoonwebsite_home' %}"><img src="{% static 'website/img/logo.svm.svg' %}"></a>
        </div>
        <ul id="second-menu" class="menu">
            <li><a href="#" class="disabled">جدول</a></li>
            <li><a href="#" class="disabled">رقابت‌ها</a></li>
            <li><a href="#" class="disabled">نمایش‌دهنده‌ی بازی</a></li>
        </ul>
    </div>
    <div class="hide-except mobile" id="mobile-header">
        <div id="logo">
            <a href="{% url 'soltoonwebsite_home' %}"><img src="{% static 'website/img/logo.svm.svg' %}"></a>
        </div>
        <div class="menu">
            <div><i class="sidebar icon"></i></div>
        </div>
    </div>
</header>
{% block page %}{% endblock %}
<footer class="container" id="footer">دانشکده‌ی ریاضی دانشگاه صنعتی شریف</footer>
{% block footer_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'website/lib/semantic/dist/semantic.min.js' %}"></script>
    <script>$('.ui.dropdown').dropdown();</script>
    {% block page_footer_javascript %}{% endblock %}
{% endblock footer_javascript %}
</body>
</html>