{% extends 'website/base_page.html' %}
{% load semanticui %}
{% load lineage %}
{% block page %}
    <div id="page-content">

        <div class="container" id="page-game">
            <nav id="game-menu">
                {% url 'soltoonwebsite_game_training' as soltoonwebsite_game_training %}
                {% url 'soltoonwebsite_edit_soltoon' as soltoonwebsite_edit_soltoon %}
                {% url 'soltoonwebsite_edit_profile' as soltoonwebsite_edit_profile %}
                <div class="ui secondary menu">
                    <a class="item disabled">
                        رقابت‌ها
                    </a>
                    <a class="item disabled">
                        برنامه‌ها
                    </a>
                    <a class="item {% ancestor soltoonwebsite_game_training %}"
                       href="{{ soltoonwebsite_game_training }}">
                        سناریو‌های آموزشی
                    </a>
                    <a class="item {% ancestor soltoonwebsite_edit_soltoon %}" href="{{ soltoonwebsite_edit_soltoon }}">
                        سلطون
                    </a>
                    <a class="item {% ancestor soltoonwebsite_edit_profile %}" href="{{ soltoonwebsite_edit_profile }}">
                        مشخصات
                    </a>
                    <div class="right menu">
                        <a class="ui item" href="{% url 'soltoonwebsite_logout' %}"> خروج </a>
                    </div>
                </div>
                <div class="ui segment">
                    <p></p>
                </div>

            </nav>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="ui {% if message.tags %}{{ message.tags }}{% endif %} message">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
            <div id="game-content">
                {% block game-content %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}