{% extends 'website/game.html' %}
{% load semanticui %}
{% load jformat %}
{% block game-content %}
    <div class="flexbox training-scenarios">
        <div class="flexitem">
            <form class="ui form" method="post" enctype="multipart/form-data">
                <h3 class="ui header">
                    <i class="code icon"></i>
                    <div class="content">
                        ارسال کد سلطون
                    </div>
                </h3>


                {% render_form form %}
                {% csrf_token %}
                <button class="ui primary button">ارسال</button>
            </form>
        </div>

        {% if code %}
            <div class="flexitem">
                <div class="ui">
                    <h3 class="ui header">
                        <i class="time icon"></i>
                        <div class="content">
                            ارسال قبلی
                        </div>
                    </h3>
                    <table class="ui definition table">
                        <tbody>
                        <tr>
                            <td class="five wide column">شماره ارسال</td>
                            <td>{{ code.id }}</td>
                        </tr>
                        <tr>
                            <td>نام فایل</td>
                            <td>{{ code.filename }}</td>
                        </tr>
                        <tr>
                            <td>زمان ارسال</td>
                            <td>{{ code.created_at | jformat }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}