{% extends "website/base_page.html" %}
{% load static %}
{% block page %}

{#    <div id="banner" class="container">#}
{#        <div class="banner competition-banner">#}
{#            <div class="player-picture player1-picture"></div>#}
{#            <div class="player-picture player2-picture"></div>#}
{##}
{#            <div class="player-title player1-title">سلطان نادرشاه</div>#}
{#            <div class="against"><span class="pomping-dots"><span>.</span><span>.</span><span>.</span></span></div>#}
{#            <div class="player-title player2-title">سلطان بن عبدالعزیز</div>#}
{##}
{#            <div class="banner-actions">#}
{#                <div class="banner-button">#}
{#                    <i class="fa fa-play-circle"></i>#}
{#                </div>#}
{#                <div class="game-type">#}
{#                    بازی دوستانه#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <div id="front-blocks" class="container mobile-vertical-flex">
        <div class="block mobile-full-width" id="front-right-block">
            <div class="block-image"><i class="fa fa-code"></i></div>
            <div class="block-link"><a href="#">چطور بازی کنیم؟</a></div>
        </div>
        <div class="block mobile-full-width" id="front-center-block">
            <div class="block-image"><i class="fab fa-github"></i></div>
            <div class="block-link"><a href="#">چطور سلطون را بهتر کنیم؟</a></div>

        </div>
        <div class="block mobile-full-width" id="front-left-block">
            <div class="block-image"><i class="fa fa-bug"></i></div>
            <div class="block-link"><a href="#">مشکلی با بازی پیدا کرده‌اید؟</a></div>
        </div>

    </div>
    <div id="front-content">
        <div id="front-content-text" class="container">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="ui {% if message.tags %}{{ message.tags }}{% endif %} message">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
            <h1>سلطون چیست؟</h1>
            <p>سلطون یک بازی استراتژی است که در نیمسال پاییز ۱۳۹۶ برای پروژه‌ی درس مبانی برنامه‌نویسی دانشکده‌ی ریاضی
                دانشگاه شریف طراحی و ساخته شد. هدف این بازی، آموزش استفاده از کتابخانه‌های مختلف با زبان برنامه‌نویسی
                جاوا و یادگیری برنامه‌نویسی شیءگرا است.</p>
        </div>
    </div>
{% endblock %}

{% block page_footer_javascript %}
    <script type="text/javascript" src="{% static 'website/js/banners.js' %}"></script>
{% endblock %}