{% extends 'website/base_page.html' %}
{% block page %}
    <div class="page-container">
        <div class="container">
            <div class="page with-sidebar">
                <div class="sidebar">
                    <div class="block" id="login-block">
                        <h2>ورود</h2>
                        <form class="ui form" method="post" action="{% url 'soltoonwebsite_login' %}">
                            <div class="field">
                                <div class="ui input left icon">
                                    <input type="text" name="username" placeholder="نام کاربری">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui input left icon">
                                    <input type="password" name="password" placeholder="رمز عبور">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="submit">
                                <button type="submit" class="ui button">ورود</button>
                                <a href="{% url 'soltoonwebsite_signup' %}" class="ui red button">ثبت نام</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page-content">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="ui {% if message.tags %}{{ message.tags }}{% endif %} message">
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}

                    <h2>شروع بازی</h2>
                    <p>بعد از اینکه برای شرکت در بازی آماده شدید باید کد خود را مطابق مستندات ارسال کنید.</p>
                    <p>برای ارسال کدهای خود لازم است که با نام کاربری خود وارد سایت شوید. به این منظور اگر هنوز ثبت نام
                        نشده‌اید، با کلیک بر روی دکمه‌ی <a href="{% url 'soltoonwebsite_signup' %}">ثبت نام</a> اطلاعات
                        خود را وارد کنید. پس از تکمیل اطلاعات، یک
                        ایمیل حاوی لینک فعال‌سازی به شما ارسال می‌شود. پس از فعال‌سازی، می‌توانید با نام کاربری و
                        گذرواژه‌ی خود وارد شوید.</p>
                <br>
                <h2>بازی دوستانه</h2>
                    <p>پس از ارسال کد‌های‌تان می‌توانید با دیگر سلطون‌ها بازی دوستانه برگزار کنید.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}