{% extends 'website/base_page.html' %}

{% load semanticui %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% block content_title %}<h1>{{ title }}</h1>{% endblock %}
    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post" class="ui form">{% csrf_token %}
            {% render_form form %}
            <input type="submit" class="ui primary button" value="{% trans 'Change my password' %}"/>
        </form>

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
{% endblock %}