{% extends 'website/base_page.html' %}
{% load semanticui %}
{% block page %}
    <div id="page-content">
        <div class="container" id="page-game">
            <form class="ui form" action="" method="post">
                <div id="join-the-game" class="box">
                    <h2 class="ui header">
                        <i class="code icon"></i>
                        <div class="content">
                            شرکت در بازی
                        </div>
                    </h2>

                    {% csrf_token %}
                    {{ wizard.management_form }}
                    {% render_form wizard.form %}

                </div>
                <button class="ui red button">ثبت نام در بازی</button>
            </form>
        </div>

    </div>
{% endblock %}