{% extends 'website/base_page.html' %}
{% load semanticui %}
{% block page %}
    <div class="page-container">
        <div class="container">
            <div class="page with-sidebar">
                <div class="sidebar">
                    <div class="block" id="login-block">
                        <h2>ثبت نام</h2>
                        <form class="ui form" method="post" action="">
                            {% render_form form %}
                            {% csrf_token %}
                            <div class="submit">
                                <button type="submit" class="ui button">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page-content">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="ui {% if message.tags %}{{ message.tags }}{% endif %} message">
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}