{% extends 'website/game.html' %}

{% block game-content %}
    <div class="ui divided items">
    {% for scenario in scenarios %}
        <div class="item">
            <div class="content">
                <a class="header" href="{% url 'soltoonwebsite_game_training_table' scenario=scenario.id %}">{{ scenario.name }}</a>
                <div class="meta">
                    <span class="cinema">{{ scenario.from_now_deadline }}</span>
                </div>
                <div class="description">
                    <p>{{ scenario.description }}</p>
                </div>
                <div class="extra">
                    {% if user.information.get %}
                    <a class="ui right floated primary button"  href="{% url 'soltoonwebsite_game_training_send' scenario=scenario.id %}">
                        ارسال کد
                    </a>
                    {% else %}
                    <a class="ui right floated primary button disabled" title="مشخصات خود را وارد کنید." href="#">
                        ارسال کد
                    </a>
                    {% endif %}
                    <a class="ui right floated button" href="{% url 'soltoonwebsite_game_training_table' scenario=scenario.id %}">
جدول نتایج
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}