{% extends 'website/game.html' %}
{% load jformat %}
{% load i18n %}
{% block game-content %}
    <div class="ui divided items">
        {% if submittions %}
            <table class="ui very basic celled table">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>شرکت‌کننده</th>
                    <th>تاریخ ارسال</th>
                </tr>
                </thead>
                <tbody>
                {% for submittion in submittions %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <h4 class="ui image header">
                                <img src="/{{ submittion.user.information.get.avatar.url }}" class="ui rounded image">
                                <div class="content">
                                    {{ submittion.user.information.get.full_name }}
                                </div>
                            </h4>
                        </td>
                        <td>
                            {{ submittion.created_at | jformat:"%d %B %y - %H:%M:%S" }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            هنوز هیچ کس چیزی ارسال نکرده :(
        {% endif %}
    </div>
{% endblock %}